.body {
    composes: card from "../../../settings/materials.module.scss";

    background: white;

    height: 100%;
    margin: 0.5em;
}

.title {
    color: var(--primary-color);
    font-size: 1.4em;
}

.progress {
    width: 40%;
    flex-shrink: 0;
}

.values {
    margin-left: 1em;
    font-size: 1.2em;

    strong {
        color: var(--active-color);
        margin-bottom: 0.25em;
    }

    span {
        color: var(--primary-color);
        font-size: 0.85em;
    }
}
