:root {
    --background-color: #f8f8fc;
    --primary-color: #817699;
    --primary-color-lighten: #a99dc6;
    --primary-color-darken: #58506b;
    --success-color: #41cf69;
    --success-color-soft: #e4ffee;
    --active-color: #54d1ed;
    --trail-color: #faf9fd;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    background: var(--background-color);
    width: 100vw;
}

body {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    &.solid {
        opacity: 0.75;
    }

    &.light {
        opacity: 0.5;
    }
}

hr {
    border: 1px solid #faf9fd;
    margin: 1em 0;
}

.title-action-button {
    outline: none;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}
