[class^="flex-"],
[class*=" flex-"] {
    display: flex;
}

[class^="flex-column"],
[class*=" flex-column"] {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row-between {
    justify-content: space-between;
}

.flex-row-inline {
    display: inline-flex;
}

.flex-column-between {
    justify-content: space-between;
}

.padding-2 {
    padding: 1.5em;
}
