[class^="flex-"],
[class*=" flex-"] {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-row-between {
    justify-content: space-between;
}

.flex-row-inline {
    display: inline-flex;
}

.flex-column {
    flex-direction: column;
}

.padding-2 {
    padding: 1.5em;
}
