[class^="flex-"],
[class*=" flex-"] {
    display: flex;
}

[class^="flex-column"],
[class*=" flex-column"] {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row-between {
    justify-content: space-between;
}

.flex-row-inline {
    display: inline-flex;
}

.flex-column-center {
    justify-content: center;
}

.flex-column-between {
    justify-content: space-between;
}

.padding-x-2 {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.padding-2 {
    padding: 1.5em;
}

.margin-2 {
    margin: 1.5em;
}

.margin-top-2 {
    margin-top: 1.5em;
}

.margin-bottom-1 {
    margin-bottom: 0.5em;
}
