.section-title {
    color: var(--primary-color-darken);
}

.success-title {
    color: var(--success-color);
    font-weight: 600;
}

.list-item-head {
    font-weight: 400;
}

.list-item-value {
    font-weight: 600;
}
