/* Generic texts */

.section-title {
    color: var(--primary-color-darken);
    font-size: 1.8em;
}

.success-title {
    color: var(--success-color);
    font-weight: 600;
}

.list-item-head {
    font-size: 1.4em;
    font-weight: 400;
}

.list-item-value {
    font-size: 1.4em;
    font-weight: 600;
}
