.body {
    composes: card from "../../../settings/materials.module.scss";

    width: 100%;
    // height: 230px;
    color: var(--primary-color-darken);
    background-color: white;
}

.progress {
    width: 42%;
    flex-shrink: 0;
}

.advisor {
    width: 60%;
    height: 60%;
    letter-spacing: -0.03em;

    .advisorFunds {
        margin-top: 0.5em;
        font-size: 1.2em;
    }

    img {
        width: 55%;
    }
}

.investment {
    font-size: 1.2em;

    .investmentName {
        letter-spacing: -0.05em;
        font-weight: 400;
        margin: 0.7em 0;
    }
}

.investmentFund {
    height: 1.5em;
}

.activeTypes {
    letter-spacing: -0.03em;

    ul {
        margin: 0;
        padding-left: 0;

        li {
            margin: 0.5em 0;
            list-style-type: none;
        }
    }
}

.footer {
    display: inline-block;
    line-height: 1.25em;
    letter-spacing: -0.03em;
}
