.body {
    max-height: 100px;
    width: 100%;
}

.title {
    color: var(--primary-color);
    font-size: 1.4em;
    font-weight: 400;
    margin: 0 0 0.1em;
}

.description {
    color: var(--primary-color-darken);
    letter-spacing: -0.02em;
    margin: 0.5em 0 0;
    line-height: 1.3em;
}

.thumbnail {
    width: 25%;
    margin-left: 0.5em;
    padding: 0.25em;
}
