.body {
    height: 100px;
    width: 100%;
}

.title {
    color: var(--primary-color);
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

.description {
    color: var(--primary-color-darken);
    letter-spacing: -0.04em;
    font-size: 0.9em;
    margin-right: 1em;
}

.thumbnail {
    width: 30%;
    margin-left: 1em;
    padding: 0.5em;
}
